.uabb-switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 125px;
	height: 33px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 20px;
	box-shadow: inset 0 0px white, inset 0px 0px 1px rgba(0, 0, 2, .1);
	cursor: pointer;
}
.uabb_switch_input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.uabb_switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.uabb_switch-label:before, .uabb_switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.uabb_switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.uabb_switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.uabb_switch_input:checked ~ .uabb_switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.uabb_switch_input:checked ~ .uabb_switch-label:before {
	opacity: 0;
}
.uabb_switch_input:checked ~ .uabb_switch-label:after {
	opacity: 1;
}
.uabb-switch-handle {
	position: absolute;
	top: 4px;
	left: 0px;
	transform: translateX(15%);
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.uabb-switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.uabb_switch_input:checked ~ .uabb-switch-handle {
	left: 100%;
	transform: translateX(-115%);
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.uabb_switch-label, .uabb-switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/* Switch Left Right
==========================*/
.uabb-switch-left-right .uabb_switch-label {
	overflow: hidden;
}
.uabb-switch-left-right .uabb_switch-label:before, .uabb-switch-left-right .uabb_switch-label:after {
	width: 100%;
	height: 22px;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 11px 0 0 0;
	text-indent: -12px;
	border-radius: 20px;
	/*box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);*/
}
.uabb-switch-left-right .uabb_switch-label:before {
	background: #eceeef;
	text-align: right;
	padding-left: 100%;
	direction: rtl;
	text-indent: 9px;
	left: -100%;
}
.uabb-switch-left-right .uabb_switch-label:after {
	text-align: left;
	text-indent: 9px;
	background: #2EA2CC;
	left: -100%;
	opacity: 1;
	width: 100%;
}
.uabb-switch-left-right .uabb_switch_input:checked ~ .uabb_switch-label:before {
	opacity: 1;
	left: 100%;
}
.uabb-switch-left-right .uabb_switch_input:checked ~ .uabb_switch-label:after {
	left: 0;
}
.uabb-switch-left-right .uabb_switch_input:checked ~ .uabb_switch-label {
	background: inherit;
}

.uabb_switch_wrap .uabb_switch_hidden {
	display: none;
}