/* Wrappers */
.uabb-module-testimonials .bx-wrapper {
	margin: 0 auto 35px;
}
.uabb-testimonials-wrap { 
	position: relative; 
}
.uabb-testimonials-wrap .uabb-testimonial {
	position: absolute;
	top: 0;
	visibility: hidden;
}
.uabb-testimonials-wrap .uabb-testimonial:first-child,
.uabb-testimonials-loaded .uabb-testimonial {
	position: relative;
	visibility: visible;
}
.uabb-testimonials-wrap .uabb-slider-prev .fa,
.uabb-testimonials-wrap .uabb-slider-next .fa {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
	   -moz-transition: opacity 0.2s;
	     -o-transition: opacity 0.2s;
	    -ms-transition: opacity 0.2s;
	        transition: opacity 0.2s;
	font-size: 14px;
	height: 25px;
	width: 25px;
	line-height: 25px;
}
.uabb-testimonials-wrap .fa:hover {
	opacity: 1;
}


/* Wide */
.uabb-testimonials.wide {
	text-align: center;
}
.uabb-testimonials-wrap.wide .uabb-slider-next,
.uabb-testimonials-wrap.wide .uabb-slider-prev {
	position: absolute;
	top: 50%;
	margin-top:-10px;
	right: 0px;
}
.uabb-testimonials-wrap.wide .fa {
	font-size: 23px;
	position: relative;
	z-index: 1;
}
.uabb-testimonials-wrap.wide .uabb-slider-prev {
	left: 0px !important;
}

/* Compact */
.uabb-testimonial-author .uabb-testimonial-author-name {
	margin: 0;
	padding: 0;
}

/* Navigation CSS */
.uabb-slider-prev {
    left: -5px;
    text-align: center;
}
.uabb-slider-next {
    right: -5px;
    text-align: center;
}
.uabb-slider-next, .uabb-slider-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY( -50% );
       -moz-transform: translateY( -50% );
        -ms-transform: translateY( -50% );
         -o-transform: translateY( -50% );
            transform: translateY( -50% );
}

.uabb-slider-prev .fa:before,
.uabb-slider-next .fa:before {
	width: 26px;
    display: inline-block;
}


/* Css For Left Alignment*/
.uabb-testimonials.left .uabb-testimonial-photo.left{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	text-align: center;
}


/* Css For Right Alignment*/

.uabb-testimonials.right .uabb-testimonial-photo.right {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	text-align: center;
}
.uabb-testimonials.right{
	direction: rtl;
}
.uabb-testimonial-info.right {
	text-align: right;
}

/* Css For Top Alignment*/
.uabb-testimonial-info.top {
	text-align: center;
	display: block;
}
.uabb-testimonial-photo.top {
	text-align: center;
}


.uabb-testimonial-info {
	display: inline-block;
}
.uabb-testimonials .uabb-testimonial {
	display: flex;
	width: 100%;
	margin-right: 5px;
}
.uabb-testimonial .uabb-icon i {
    float: none;
}
.uabb-testimonial-photo.top {
	margin-bottom: 20px;
}

/* Css For Without Slider*/
.uabb-testimonials.slider-no,
.uabb-testimonials.box {
	display: block;
	position: relative;
}
.uabb-testimonials.slider-no .uabb-testimonial,
.uabb-testimonials.box .uabb-testimonial {
	display: flex;
}
.testimonial-arrow-down {
    border-right: 26px solid transparent;
    left: 22%;
    position: absolute;
    top: 100%;
}


/* Image style circle */
.uabb-testimonial .uabb-photo-content{
	overflow: hidden;
}


.uabb-testimonials-wrap .uabb-testimonial-author-designation * {
	font-family: inherit;
	font-weight: inherit; 
	font-size: inherit;
	font-style: inherit; 
	color: inherit; 
	line-height: inherit;
}
.uabb-testimonial-info .uabb-testimonial-author-description * {
	margin: 0;
}