.uabb-spacing-wrapper .uabb-spacing {
    width: 20%;
    display: inline-block;
}

/* Items Wrapper */
.uabb-spacing-wrapper .uabb-spacing-items .simplify{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #ccc;
}

.uabb-spacing-wrapper i.simplify-icon.dashicons.uabb-help-tooltip {
    width: 23px;
    height: 23px;
    font-size: 23px;
    text-align: center;
    line-height: 23px;
}
.uabb-spacing-wrapper i.simplify-icon.dashicons.dashicons-no-alt.uabb-help-tooltip {
    transform: rotate(45deg);
}
.uabb-spacing-wrapper .uabb-spacing-items i.dashicons {
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
}

.uabb-spacing-wrapper .spacing-toggle-wrap,
.uabb-spacing-wrapper .uabb-spacing-item {
    display: inline-block;
    margin-right: 10px;
}

.uabb-spacing-wrapper .uabb-spacing-item.optional {
    display: inline-block;
}


.uabb-spacing-wrapper .uabb-spacing-item input.uabb-spacing-input {
    height: 25px !important;
    min-height: 25px;
    margin: 0;
    width: 50px;
}

.uabb-spacing-wrapper .uabb-spacing-size-wrap {
    display: inline-block;
}

.uabb-spacing-wrapper .uabb-size-wrap {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}



.uabb-spacing-wrapper .uabb-spacing-item.desktop {
    margin: 0;
}
.uabb-spacing-wrapper span.uabb-icon {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.uabb-spacing-wrapper .uabb-icon .uabb-tooltip,
.uabb-spacing-wrapper .simplify .uabb-tooltip {
    display: none;
    position: absolute;
    content: '';
    color: #fff;
    top: -35px;
    left: -5px;
    text-shadow: none;
    white-space: nowrap;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.uabb-spacing-wrapper .uabb-icon .uabb-tooltip{
	background: #444;
}
.uabb-spacing-wrapper .simplify .uabb-tooltip{
	background: #00aef0;
}

.uabb-spacing-wrapper .uabb-icon .uabb-tooltip:before,
.uabb-spacing-wrapper .simplify .uabb-tooltip:before {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 10px;
}

.uabb-spacing-wrapper .uabb-icon .uabb-tooltip:before{
	border-top: 5px solid #444;
}
.uabb-spacing-wrapper .simplify .uabb-tooltip:before{
    border-top: 5px solid #00aef0;
}

/* Hover Css */

.uabb-spacing-wrapper i.uabb-help-tooltip:hover ~ div.uabb-tooltip {
    display: block;
    padding: 7px;
}