/**
 * Icon Fonts
 */
 
.phone-number {
	margin-bottom: $small;
	
	@include icon('phone', 'before', true, 1.3em, $top:1px, $margin:6px) {
		margin-left: 2px;
	}
 }
 
 .mobile-number {
 	margin-bottom: $small;
 	
	@include icon('mobile', 'before', true, 1.3em, $top:1px, $margin:10px) {
		 margin-left: 3px;
	 }
 }
 
 .address-full {
 	margin-bottom: $small;
 	
	@include icon('address', 'before', true, 1.3em, $top:0, $margin:5px) {
		float: left;
		display: block;
	}
	 
	.street-address-wrap,
	.city-postcode {
		padding-left: 25px;
	}
 }
 
 .social-network-link {
	 margin-bottom: $small;
	 
	 &.facebook {
		  @include icon('facebook-squared', 'before', true, 1.3em, $top:1px, $margin:7px) {
			  color: $facebook;
		  }
	 }
 }
 
 .contact-us-page-content {
	 margin-top: $norm;
 }
 
