// Setup Breakpoints
$baby-bear: max-width 480px;
$baby-bear-and-up: 320px;
$brother-bear: max-width 767px;
$brother-bear-and-up: max-width 481px;
$mama-bear: 768px 1023px;
$mama-bear-and-up: 768px;
$papa-bear: 1024px;
$papa-bear-wide: 1500px;


// Setup Grid for SUSY
$susy: (
  // the basics
  columns: 12,
  gutters: 1.618em / 4.854em,
  column-width: 4.854em,
);

// Setup Container for SUSY
.site-inner .wrap {
	@include container;
	padding: 0 !important;
	//max-width: 1140px;
	
	@include breakpoint($mama-bear) {
		max-width: 960px;
	}
}

/*
 * Modular Scale Settings
 *
 * http://www.modularscale.com by Tim Brown
 * https://github.com/Team-Sass/modular-scale
 * version 2 syntax
 */
$ms-ratio: $golden;						// Ratio for Modular Scale
$base-font-size: 16px;
$importantNum: 78px;
$ms-base: $base-font-size $importantNum;

// Torlesse Default Scale Values: 16, 18, 26, 30, 42, 48, 68, 78, 110, 126;

	/* 
	 * Sizing
	 */
	$xsmall: ms(-2);
	$small: ms(-1);
	$norm: ms(0);									// $base-font-size (16px == default)
	$med: ms(1);
	$large: ms(2);
	$larger: ms(3);
	$xlarge: ms(4);
	$xxlarge: ms(5);
	$xxxlarge: ms(6);
	$reallybig: ms(8);
	$tremendous: ms(9);
	$absurd: ms(10);