.info-table-wrap .info-table .info-table-heading h1,
.info-table-wrap .info-table .info-table-heading h2,
.info-table-wrap .info-table .info-table-heading h3,
.info-table-wrap .info-table .info-table-heading h4,
.info-table-wrap .info-table .info-table-heading h5,
.info-table-wrap .info-table .info-table-heading h6 {
	margin: 0;
	padding: 0;
}

.info-table-wrap .info-table .info-table-heading {
	padding: 20px;
}
.info-table-wrap .info-table .info-table-icon {
	padding: 20px;	
}
.info-table-wrap .info-table .info-table-description {
	padding: 15px;
}
.info-table-wrap .info-table .info-table-description p {
	margin: 0;
	padding: 0;
}
.info-table-wrap .info-table .info-table-button {
	padding: 15px 0 15px;
	position: relative;
}

.info-table-wrap .info-table-button a {
	display: inline-block;
	-webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
    		transition: all 200ms ease-in-out
}


.info-table-wrap .info-table {
    transition: all linear 250ms;
}

/* Design 1 Csss */
.info-table-wrap {
	width: 100%;
	text-align: center;
}

/* Design 6 */

.info-table-design06 .info-table .info-table-icon {
	padding: 0;	
	position: relative;
}

.info-table-design06 .info-table .uabb-imgicon-wrap { 
	position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50% );
        -ms-transform: translate(-50%, 50% );
            transform: translate(-50%, 50% );
}