@font-face {
    font-family: 'Ultimate-Icons';
    src:
        url('fonts/Ultimate-Icons.ttf?drejs0') format('truetype'),
        url('fonts/Ultimate-Icons.woff?drejs0') format('woff'),
        url('fonts/Ultimate-Icons.svg?drejs0#Ultimate-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ua-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ua-icon-basket:before {
    content: "\e900";
}
.ua-icon-briefcase:before {
    content: "\e901";
}
.ua-icon-calendar:before {
    content: "\e902";
}
.ua-icon-chat:before {
    content: "\e903";
}
.ua-icon-clock:before {
    content: "\e904";
}
.ua-icon-desktop:before {
    content: "\e905";
}
.ua-icon-dribbble:before {
    content: "\e906";
}
.ua-icon-edit:before {
    content: "\e907";
}
.ua-icon-envelope:before {
    content: "\e908";
}
.ua-icon-facebook:before {
    content: "\e909";
}
.ua-icon-gears:before {
    content: "\e90a";
}
.ua-icon-global:before {
    content: "\e90b";
}
.ua-icon-globe:before {
    content: "\e90c";
}
.ua-icon-googleplus:before {
    content: "\e90d";
}
.ua-icon-heart:before {
    content: "\e90e";
}
.ua-icon-key:before {
    content: "\e90f";
}
.ua-icon-laptop:before {
    content: "\e910";
}
.ua-icon-linkedin:before {
    content: "\e911";
}
.ua-icon-lock:before {
    content: "\e912";
}
.ua-icon-magnifying-glass:before {
    content: "\e913";
}
.ua-icon-map-pin:before {
    content: "\e914";
}
.ua-icon-map:before {
    content: "\e915";
}
.ua-icon-mobile:before {
    content: "\e916";
}
.ua-icon-newspaper:before {
    content: "\e917";
}
.ua-icon-paperclip:before {
    content: "\e918";
}
.ua-icon-pencil:before {
    content: "\e919";
}
.ua-icon-phone:before {
    content: "\e91a";
}
.ua-icon-picture:before {
    content: "\e91b";
}
.ua-icon-presentation:before {
    content: "\e91c";
}
.ua-icon-printer:before {
    content: "\e91d";
}
.ua-icon-profile-female:before {
    content: "\e91e";
}
.ua-icon-profile-male:before {
    content: "\e91f";
}
.ua-icon-quote:before {
    content: "\e920";
}
.ua-icon-streetsign:before {
    content: "\e921";
}
.ua-icon-tablet:before {
    content: "\e922";
}
.ua-icon-tools-2:before {
    content: "\e923";
}
.ua-icon-tools:before {
    content: "\e924";
}
.ua-icon-tumblr:before {
    content: "\e925";
}
.ua-icon-twitter:before {
    content: "\e926";
}
.ua-icon-video:before {
    content: "\e927";
}
.ua-icon-icon-3-mail-envelope-closed:before {
    content: "\e928";
}
.ua-icon-icon-6-mail-envelope-closed:before {
    content: "\e929";
}
.ua-icon-icon-24-key:before {
    content: "\e92a";
}
.ua-icon-icon-29-information:before {
    content: "\e92b";
}
.ua-icon-icon-111-search:before {
    content: "\e92c";
}
.ua-icon-icon-112-search-plus:before {
    content: "\e92d";
}
.ua-icon-icon-113-search-minus:before {
    content: "\e92e";
}
.ua-icon-icon-114-lock:before {
    content: "\e92f";
}
.ua-icon-icon-116-lock-open:before {
    content: "\e930";
}
.ua-icon-icon-118-lock-rounded:before {
    content: "\e931";
}
.ua-icon-icon-120-lock-rounded-open:before {
    content: "\e932";
}
.ua-icon-icon-121-combination-lock:before {
    content: "\e933";
}
.ua-icon-icon-122-printer:before {
    content: "\e934";
}
.ua-icon-icon-123-printer:before {
    content: "\e935";
}
.ua-icon-icon-124-printer-text:before {
    content: "\e936";
}
.ua-icon-icon-125-printer-text:before {
    content: "\e937";
}
.ua-icon-icon-134-pen:before {
    content: "\e938";
}
.ua-icon-icon-135-pen-angled:before {
    content: "\e939";
}
.ua-icon-icon-145-tag-cord:before {
    content: "\e93a";
}
.ua-icon-icon-146-tag:before {
    content: "\e93b";
}
.ua-icon-icon-3-mail-envelope-closed2:before {
    content: "\e93c";
}
.ua-icon-icon-6-mail-envelope-closed2:before {
    content: "\e93d";
}
.ua-icon-icon-24-key2:before {
    content: "\e93e";
}
.ua-icon-icon-29-information2:before {
    content: "\e93f";
}
.ua-icon-icon-111-search2:before {
    content: "\e940";
}
.ua-icon-icon-112-search-plus2:before {
    content: "\e941";
}
.ua-icon-icon-113-search-minus2:before {
    content: "\e942";
}
.ua-icon-icon-114-lock2:before {
    content: "\e943";
}
.ua-icon-icon-116-lock-open2:before {
    content: "\e944";
}
.ua-icon-icon-118-lock-rounded2:before {
    content: "\e945";
}
.ua-icon-icon-120-lock-rounded-open2:before {
    content: "\e946";
}
.ua-icon-icon-121-combination-lock2:before {
    content: "\e947";
}
.ua-icon-icon-122-printer2:before {
    content: "\e948";
}
.ua-icon-icon-123-printer2:before {
    content: "\e949";
}
.ua-icon-icon-124-printer-text2:before {
    content: "\e94a";
}
.ua-icon-icon-125-printer-text2:before {
    content: "\e94b";
}
.ua-icon-icon-134-pen2:before {
    content: "\e94c";
}
.ua-icon-icon-135-pen-angled2:before {
    content: "\e94d";
}
.ua-icon-icon-145-tag-cord2:before {
    content: "\e94e";
}
.ua-icon-icon-146-tag2:before {
    content: "\e94f";
}
.ua-icon-arrow-down:before {
    content: "\e950";
}
.ua-icon-arrow-left:before {
    content: "\e951";
}
.ua-icon-arrow-right:before {
    content: "\e952";
}
.ua-icon-arrow-up:before {
    content: "\e953";
}
.ua-icon-briefcase2:before {
    content: "\e954";
}
.ua-icon-check:before {
    content: "\e955";
}
.ua-icon-circle-add:before {
    content: "\e956";
}
.ua-icon-circle-check:before {
    content: "\e957";
}
.ua-icon-circle-cross:before {
    content: "\e958";
}
.ua-icon-circle-minus:before {
    content: "\e959";
}
.ua-icon-clock2:before {
    content: "\e95a";
}
.ua-icon-cog:before {
    content: "\e95b";
}
.ua-icon-cross:before {
    content: "\e95c";
}
.ua-icon-disc:before {
    content: "\e95d";
}
.ua-icon-fast-forward:before {
    content: "\e95e";
}
.ua-icon-globe2:before {
    content: "\e95f";
}
.ua-icon-head:before {
    content: "\e960";
}
.ua-icon-heart2:before {
    content: "\e961";
}
.ua-icon-help:before {
    content: "\e962";
}
.ua-icon-lock2:before {
    content: "\e963";
}
.ua-icon-mail:before {
    content: "\e964";
}
.ua-icon-map2:before {
    content: "\e965";
}
.ua-icon-minus:before {
    content: "\e966";
}
.ua-icon-monitor:before {
    content: "\e967";
}
.ua-icon-paper-clip:before {
    content: "\e968";
}
.ua-icon-pause:before {
    content: "\e969";
}
.ua-icon-play:before {
    content: "\e96a";
}
.ua-icon-plus:before {
    content: "\e96b";
}
.ua-icon-printer2:before {
    content: "\e96c";
}
.ua-icon-record:before {
    content: "\e96d";
}
.ua-icon-rewind:before {
    content: "\e96e";
}
.ua-icon-search:before {
    content: "\e96f";
}
.ua-icon-speech-bubble:before {
    content: "\e970";
}
.ua-icon-square-add:before {
    content: "\e971";
}
.ua-icon-square-check:before {
    content: "\e972";
}
.ua-icon-square-cross:before {
    content: "\e973";
}
.ua-icon-square-minus:before {
    content: "\e974";
}
.ua-icon-unlock:before {
    content: "\e975";
}
.ua-icon-zoom-in:before {
    content: "\e976";
}
.ua-icon-zoom-out:before {
    content: "\e977";
}
.ua-icon-alarm:before {
    content: "\e978";
}
.ua-icon-arrow-down-circle:before {
    content: "\e979";
}
.ua-icon-arrow-down2:before {
    content: "\e97a";
}
.ua-icon-arrow-left-circle:before {
    content: "\e97b";
}
.ua-icon-arrow-left2:before {
    content: "\e97c";
}
.ua-icon-arrow-right-circle:before {
    content: "\e97d";
}
.ua-icon-arrow-right2:before {
    content: "\e97e";
}
.ua-icon-arrow-up-circle:before {
    content: "\e97f";
}
.ua-icon-arrow-up2:before {
    content: "\e980";
}
.ua-icon-briefcase3:before {
    content: "\e981";
}
.ua-icon-bubble:before {
    content: "\e982";
}
.ua-icon-calendar-full:before {
    content: "\e983";
}
.ua-icon-camera-video:before {
    content: "\e984";
}
.ua-icon-camera:before {
    content: "\e985";
}
.ua-icon-cart:before {
    content: "\e986";
}
.ua-icon-chart-bars:before {
    content: "\e987";
}
.ua-icon-checkmark-circle:before {
    content: "\e988";
}
.ua-icon-chevron-down-circle:before {
    content: "\e989";
}
.ua-icon-chevron-down:before {
    content: "\e98a";
}
.ua-icon-chevron-left-circle:before {
    content: "\e98b";
}
.ua-icon-chevron-left:before {
    content: "\e98c";
}
.ua-icon-chevron-right-circle:before {
    content: "\e98d";
}
.ua-icon-chevron-right:before {
    content: "\e98e";
}
.ua-icon-chevron-up-circle:before {
    content: "\e98f";
}
.ua-icon-chevron-up:before {
    content: "\e990";
}
.ua-icon-circle-minus2:before {
    content: "\e991";
}
.ua-icon-clock3:before {
    content: "\e992";
}
.ua-icon-cog2:before {
    content: "\e993";
}
.ua-icon-cross-circle:before {
    content: "\e994";
}
.ua-icon-cross2:before {
    content: "\e995";
}
.ua-icon-earth:before {
    content: "\e996";
}
.ua-icon-envelope2:before {
    content: "\e997";
}
.ua-icon-eye:before {
    content: "\e998";
}
.ua-icon-film-play:before {
    content: "\e999";
}
.ua-icon-gift:before {
    content: "\e99a";
}
.ua-icon-heart3:before {
    content: "\e99b";
}
.ua-icon-history:before {
    content: "\e99c";
}
.ua-icon-home:before {
    content: "\e99d";
}
.ua-icon-keyboard:before {
    content: "\e99e";
}
.ua-icon-laptop-phone:before {
    content: "\e99f";
}
.ua-icon-laptop2:before {
    content: "\e9a0";
}
.ua-icon-leaf:before {
    content: "\e9a1";
}
.ua-icon-license:before {
    content: "\e9a2";
}
.ua-icon-location:before {
    content: "\e9a3";
}
.ua-icon-lock3:before {
    content: "\e9a4";
}
.ua-icon-magnifier:before {
    content: "\e9a5";
}
.ua-icon-map-marker:before {
    content: "\e9a6";
}
.ua-icon-map3:before {
    content: "\e9a7";
}
.ua-icon-menu-circle:before {
    content: "\e9a8";
}
.ua-icon-menu:before {
    content: "\e9a9";
}
.ua-icon-mic:before {
    content: "\e9aa";
}
.ua-icon-moon:before {
    content: "\e9ab";
}
.ua-icon-move:before {
    content: "\e9ac";
}
.ua-icon-mustache:before {
    content: "\e9ad";
}
.ua-icon-neutral:before {
    content: "\e9ae";
}
.ua-icon-paperclip2:before {
    content: "\e9af";
}
.ua-icon-paw:before {
    content: "\e9b0";
}
.ua-icon-pencil2:before {
    content: "\e9b1";
}
.ua-icon-phone-handset:before {
    content: "\e9b2";
}
.ua-icon-phone2:before {
    content: "\e9b3";
}
.ua-icon-picture2:before {
    content: "\e9b4";
}
.ua-icon-pie-chart:before {
    content: "\e9b5";
}
.ua-icon-plus-circle:before {
    content: "\e9b6";
}
.ua-icon-printer3:before {
    content: "\e9b7";
}
.ua-icon-question-circle:before {
    content: "\e9b8";
}
.ua-icon-rocket:before {
    content: "\e9b9";
}
.ua-icon-sad:before {
    content: "\e9ba";
}
.ua-icon-screen:before {
    content: "\e9bb";
}
.ua-icon-shirt:before {
    content: "\e9bc";
}
.ua-icon-smartphone:before {
    content: "\e9bd";
}
.ua-icon-smile:before {
    content: "\e9be";
}
.ua-icon-star:before {
    content: "\e9bf";
}
.ua-icon-store:before {
    content: "\e9c0";
}
.ua-icon-sync:before {
    content: "\e9c1";
}
.ua-icon-tablet2:before {
    content: "\e9c2";
}
.ua-icon-tag:before {
    content: "\e9c3";
}
.ua-icon-trash:before {
    content: "\e9c4";
}
.ua-icon-unlink:before {
    content: "\e9c5";
}
.ua-icon-user:before {
    content: "\e9c6";
}
.ua-icon-users:before {
    content: "\e9c7";
}
.ua-icon-px-with-circle:before {
    content: "\e9c8";
}
.ua-icon-px:before {
    content: "\e9c9";
}
.ua-icon-app-store:before {
    content: "\e9ca";
}
.ua-icon-dribbble-with-circle:before {
    content: "\e9cb";
}
.ua-icon-dribbble2:before {
    content: "\e9cc";
}
.ua-icon-facebook-with-circle:before {
    content: "\e9cd";
}
.ua-icon-facebook2:before {
    content: "\e9ce";
}
.ua-icon-flickr-with-circle:before {
    content: "\e9cf";
}
.ua-icon-flickr:before {
    content: "\e9d0";
}
.ua-icon-github-with-circle:before {
    content: "\e9d1";
}
.ua-icon-github:before {
    content: "\e9d2";
}
.ua-icon-google-with-circle:before {
    content: "\e9d3";
}
.ua-icon-google:before {
    content: "\e9d4";
}
.ua-icon-instagram-with-circle:before {
    content: "\e9d5";
}
.ua-icon-instagram:before {
    content: "\e9d6";
}
.ua-icon-linkedin-with-circle:before {
    content: "\e9d7";
}
.ua-icon-linkedin2:before {
    content: "\e9d8";
}
.ua-icon-pinterest-with-circle:before {
    content: "\e9d9";
}
.ua-icon-pinterest:before {
    content: "\e9da";
}
.ua-icon-tripadvisor:before {
    content: "\e9db";
}
.ua-icon-tumblr-with-circle:before {
    content: "\e9dc";
}
.ua-icon-tumblr2:before {
    content: "\e9dd";
}
.ua-icon-twitter-with-circle:before {
    content: "\e9de";
}
.ua-icon-twitter2:before {
    content: "\e9df";
}
.ua-icon-vimeo-with-circle:before {
    content: "\e9e0";
}
.ua-icon-vimeo:before {
    content: "\e9e1";
}
.ua-icon-windows-store:before {
    content: "\e9e2";
}
.ua-icon-yelp:before {
    content: "\e9e3";
}
.ua-icon-youtube-with-circle:before {
    content: "\e9e4";
}
.ua-icon-youtube:before {
    content: "\e9e5";
}
.ua-icon-air:before {
    content: "\e9e6";
}
.ua-icon-arrow-long-down:before {
    content: "\e9e7";
}
.ua-icon-arrow-long-left:before {
    content: "\e9e8";
}
.ua-icon-arrow-long-right:before {
    content: "\e9e9";
}
.ua-icon-arrow-long-up:before {
    content: "\e9ea";
}
.ua-icon-arrow-with-circle-down:before {
    content: "\e9eb";
}
.ua-icon-arrow-with-circle-left:before {
    content: "\e9ec";
}
.ua-icon-arrow-with-circle-right:before {
    content: "\e9ed";
}
.ua-icon-arrow-with-circle-up:before {
    content: "\e9ee";
}
.ua-icon-attachment:before {
    content: "\e9ef";
}
.ua-icon-bar-graph:before {
    content: "\e9f0";
}
.ua-icon-briefcase4:before {
    content: "\e9f1";
}
.ua-icon-browser:before {
    content: "\e9f2";
}
.ua-icon-calculator:before {
    content: "\e9f3";
}
.ua-icon-calendar2:before {
    content: "\e9f4";
}
.ua-icon-camera2:before {
    content: "\e9f5";
}
.ua-icon-chat2:before {
    content: "\e9f6";
}
.ua-icon-check2:before {
    content: "\e9f7";
}
.ua-icon-chevron-down2:before {
    content: "\e9f8";
}
.ua-icon-chevron-left2:before {
    content: "\e9f9";
}
.ua-icon-chevron-right2:before {
    content: "\e9fa";
}
.ua-icon-chevron-small-down:before {
    content: "\e9fb";
}
.ua-icon-chevron-small-left:before {
    content: "\e9fc";
}
.ua-icon-chevron-small-right:before {
    content: "\e9fd";
}
.ua-icon-chevron-small-up:before {
    content: "\e9fe";
}
.ua-icon-chevron-thin-down:before {
    content: "\e9ff";
}
.ua-icon-chevron-thin-left:before {
    content: "\ea00";
}
.ua-icon-chevron-thin-right:before {
    content: "\ea01";
}
.ua-icon-chevron-thin-up:before {
    content: "\ea02";
}
.ua-icon-chevron-up2:before {
    content: "\ea03";
}
.ua-icon-chevron-with-circle-down:before {
    content: "\ea04";
}
.ua-icon-chevron-with-circle-left:before {
    content: "\ea05";
}
.ua-icon-chevron-with-circle-right:before {
    content: "\ea06";
}
.ua-icon-chevron-with-circle-up:before {
    content: "\ea07";
}
.ua-icon-circle-with-cross:before {
    content: "\ea08";
}
.ua-icon-circle-with-minus:before {
    content: "\ea09";
}
.ua-icon-circle-with-plus:before {
    content: "\ea0a";
}
.ua-icon-clock4:before {
    content: "\ea0b";
}
.ua-icon-cog3:before {
    content: "\ea0c";
}
.ua-icon-compass:before {
    content: "\ea0d";
}
.ua-icon-controller-play:before {
    content: "\ea0e";
}
.ua-icon-controller-record:before {
    content: "\ea0f";
}
.ua-icon-controller-stop:before {
    content: "\ea10";
}
.ua-icon-creative-commons-noderivs:before {
    content: "\ea11";
}
.ua-icon-credit-card:before {
    content: "\ea12";
}
.ua-icon-credit:before {
    content: "\ea13";
}
.ua-icon-cross3:before {
    content: "\ea14";
}
.ua-icon-direction:before {
    content: "\ea15";
}
.ua-icon-dot-single:before {
    content: "\ea16";
}
.ua-icon-edit2:before {
    content: "\ea17";
}
.ua-icon-email:before {
    content: "\ea18";
}
.ua-icon-emoji-flirt:before {
    content: "\ea19";
}
.ua-icon-emoji-happy:before {
    content: "\ea1a";
}
.ua-icon-emoji-neutral:before {
    content: "\ea1b";
}
.ua-icon-emoji-sad:before {
    content: "\ea1c";
}
.ua-icon-eye2:before {
    content: "\ea1d";
}
.ua-icon-fingerprint:before {
    content: "\ea1e";
}
.ua-icon-flow-tree:before {
    content: "\ea1f";
}
.ua-icon-gauge:before {
    content: "\ea20";
}
.ua-icon-globe3:before {
    content: "\ea21";
}
.ua-icon-grid:before {
    content: "\ea22";
}
.ua-icon-hair-cross:before {
    content: "\ea23";
}
.ua-icon-heart-outlined:before {
    content: "\ea24";
}
.ua-icon-heart4:before {
    content: "\ea25";
}
.ua-icon-help-with-circle:before {
    content: "\ea26";
}
.ua-icon-help2:before {
    content: "\ea27";
}
.ua-icon-home2:before {
    content: "\ea28";
}
.ua-icon-infinity:before {
    content: "\ea29";
}
.ua-icon-info-with-circle:before {
    content: "\ea2a";
}
.ua-icon-info:before {
    content: "\ea2b";
}
.ua-icon-key2:before {
    content: "\ea2c";
}
.ua-icon-keyboard2:before {
    content: "\ea2d";
}
.ua-icon-landline:before {
    content: "\ea2e";
}
.ua-icon-laptop3:before {
    content: "\ea2f";
}
.ua-icon-lifebuoy:before {
    content: "\ea30";
}
.ua-icon-light-bulb:before {
    content: "\ea31";
}
.ua-icon-location-pin:before {
    content: "\ea32";
}
.ua-icon-lock-open:before {
    content: "\ea33";
}
.ua-icon-lock4:before {
    content: "\ea34";
}
.ua-icon-magnifying-glass2:before {
    content: "\ea35";
}
.ua-icon-mail2:before {
    content: "\ea36";
}
.ua-icon-map4:before {
    content: "\ea37";
}
.ua-icon-medal:before {
    content: "\ea38";
}
.ua-icon-menu2:before {
    content: "\ea39";
}
.ua-icon-message:before {
    content: "\ea3a";
}
.ua-icon-minus2:before {
    content: "\ea3b";
}
.ua-icon-mobile2:before {
    content: "\ea3c";
}
.ua-icon-news:before {
    content: "\ea3d";
}
.ua-icon-phone3:before {
    content: "\ea3e";
}
.ua-icon-plus2:before {
    content: "\ea3f";
}
.ua-icon-quote2:before {
    content: "\ea40";
}
.ua-icon-shopping-basket:before {
    content: "\ea41";
}
.ua-icon-shopping-cart:before {
    content: "\ea42";
}
.ua-icon-squared-minus:before {
    content: "\ea43";
}
.ua-icon-squared-plus:before {
    content: "\ea44";
}
.ua-icon-tablet-mobile-combo:before {
    content: "\ea45";
}
.ua-icon-tablet3:before {
    content: "\ea46";
}
.ua-icon-tools2:before {
    content: "\ea47";
}
.ua-icon-tv:before {
    content: "\ea48";
}
.ua-icon-typing:before {
    content: "\ea49";
}
.ua-icon-user2:before {
    content: "\ea4a";
}
.ua-icon-users2:before {
    content: "\ea4b";
}
.ua-icon-video-camera:before {
    content: "\ea4c";
}
.ua-icon-video2:before {
    content: "\ea4d";
}
.ua-icon-vinyl:before {
    content: "\ea4e";
}
.ua-icon-Home:before {
    content: "\ea4f";
}
.ua-icon-LightBulb:before {
    content: "\ea50";
}
.ua-icon-Anchor:before {
    content: "\ea51";
}
.ua-icon-Feather:before {
    content: "\ea52";
}
.ua-icon-Expand:before {
    content: "\ea53";
}
.ua-icon-Maximize:before {
    content: "\ea54";
}
.ua-icon-Search:before {
    content: "\ea55";
}
.ua-icon-Zoomin:before {
    content: "\ea56";
}
.ua-icon-Zoomout:before {
    content: "\ea57";
}
.ua-icon-Add:before {
    content: "\ea58";
}
.ua-icon-Subtract:before {
    content: "\ea59";
}
.ua-icon-Exclamation:before {
    content: "\ea5a";
}
.ua-icon-Question:before {
    content: "\ea5b";
}
.ua-icon-Close:before {
    content: "\ea5c";
}
.ua-icon-Pause:before {
    content: "\ea5d";
}
.ua-icon-Envelope:before {
    content: "\ea5e";
}
.ua-icon-Compose:before {
    content: "\ea5f";
}
.ua-icon-Newspaper:before {
    content: "\ea60";
}
.ua-icon-Newspaperalt:before {
    content: "\ea61";
}
.ua-icon-Calendar:before {
    content: "\ea62";
}
.ua-icon-Hyperlink:before {
    content: "\ea63";
}
.ua-icon-Trash:before {
    content: "\ea64";
}
.ua-icon-Trashalt:before {
    content: "\ea65";
}
.ua-icon-Grid:before {
    content: "\ea66";
}
.ua-icon-Gridalt:before {
    content: "\ea67";
}
.ua-icon-List:before {
    content: "\ea68";
}
.ua-icon-Calculator:before {
    content: "\ea69";
}
.ua-icon-Windows:before {
    content: "\ea6a";
}
.ua-icon-Browser:before {
    content: "\ea6b";
}
.ua-icon-Alarm:before {
    content: "\ea6c";
}
.ua-icon-Clock:before {
    content: "\ea6d";
}
.ua-icon-Attachment:before {
    content: "\ea6e";
}
.ua-icon-Settings:before {
    content: "\ea6f";
}
.ua-icon-Portfolio:before {
    content: "\ea70";
}
.ua-icon-User:before {
    content: "\ea71";
}
.ua-icon-Users:before {
    content: "\ea72";
}
.ua-icon-Heart:before {
    content: "\ea73";
}
.ua-icon-Chat:before {
    content: "\ea74";
}
.ua-icon-Comments:before {
    content: "\ea75";
}
.ua-icon-Screen:before {
    content: "\ea76";
}
.ua-icon-iPhone:before {
    content: "\ea77";
}
.ua-icon-Instagram:before {
    content: "\ea78";
}
.ua-icon-facebook3:before {
    content: "\ea79";
}
.ua-icon-Delicious:before {
    content: "\ea7a";
}
.ua-icon-GooglePlus:before {
    content: "\ea7b";
}
.ua-icon-Dribbble:before {
    content: "\ea7c";
}
.ua-icon-Pin:before {
    content: "\ea7d";
}
.ua-icon-Pinalt:before {
    content: "\ea7e";
}
.ua-icon-Cloud:before {
    content: "\ea7f";
}
.ua-icon-Circle-Full:before {
    content: "\ea80";
}

