.uabb-input-group {
	/*margin-bottom: 10px;*/
	position: relative;
	width: 100%;
}

.uabb-input-group-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.uabb-contact-form .uabb-io-padding-right {
    padding-right: 5px;
}

.uabb-contact-form .uabb-io-padding-left {
    padding-left: 5px;
}

.uabb-contact-form .uabb-inline-group {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.uabb-contact-form textarea,
.uabb-contact-form input[type=text],
.uabb-contact-form input[type=tel],
.uabb-contact-form input[type=email] {
	display: inline-block;
	border-width: 2px; 
	height: auto;
	width: 100%;
	vertical-align: middle;
    padding: 10px 15px;
}



.uabb-contact-form textarea:focus,
.uabb-contact-form input[type=tel]:focus,
.uabb-contact-form input[type=email]:focus,
.uabb-contact-form input[type=text]:focus {
	-webkit-box-shadow: none;
            box-shadow: none;
}

.uabb-contact-form .uabb-submit-btn {
	margin-top: 10px;
}

/* Style 2 CSS */

.uabb-form-style2 .uabb-input-group-wrap input[type=text],
.uabb-form-style2 .uabb-input-group-wrap input[type=tel],
.uabb-form-style2 .uabb-input-group-wrap input[type=email] {
	border-top: none;
	border-left: none;
	border-right: none;
	background: transparent;
}

.uabb-form-style2 .uabb-input-group-wrap textarea {
	background: transparent;
}

.uabb-form-style2 .uabb-io-padding-right {
    padding-right: 15px;
}

.uabb-form-style2 .uabb-io-padding-left {
    padding-left: 15px;
}

/*.uabb-contact-form.uabb-form-style2 .uabb-input-group.uabb-message {
	margin-top: 40px;
}*/

/* Style 2 Css End */
.uabb-contact-form .uabb-contact-form-submit {
	border: none;
	-webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
  		 -o-transition: all 0.3s;
  			transition: all 0.3s;
  			/*transition: all 0.3s ease-in-out;*/
}

.uabb-contact-form .uabb-contact-form-submit:focus {
	outline: 0;
    /*-webkit-box-shadow: none !important;
            box-shadow: none !important;*/
}

.uabb-contact-form textarea {
	min-height: 130px;
}
.uabb-contact-form .uabb-contact-required {
	font-style: italic;
	font-size: 12px;
}
.uabb-contact-form label {
	display: inline-block;
	margin-right: 10px;
}
.uabb-contact-form .uabb-contact-error {
	color: #DD4420;
	display: none;
	font-size: 12px;
	/*font-weight: lighter;*/
	margin-top: 2px;
}
.uabb-contact-form .uabb-email .uabb-contact-error {
	margin-right: 10%;
}
.uabb-contact-form .uabb-input-group-wrap .uabb-error textarea,
.uabb-contact-form .uabb-input-group-wrap .uabb-error input[type=text],
.uabb-contact-form .uabb-input-group-wrap .uabb-error input[type=tel],
.uabb-contact-form .uabb-input-group-wrap .uabb-error input[type=email] {
	border-color: #DD4420;
}
.uabb-contact-form .uabb-error .uabb-contact-error {
	display: inline-block;
}
.uabb-contact-form .uabb-send-error,
.uabb-contact-form .uabb-success,
.uabb-contact-form .uabb-success-none,
.uabb-contact-form .uabb-success-msg {
	position: relative;
	left: 5px;
}

.uabb-contact-form .uabb-success,
.uabb-contact-form .uabb-success-none,
.uabb-contact-form .uabb-success-msg {
	color: #29BB41;
}

.uabb-contact-form .uabb-send-error {
	color: #DD6420;
}
.uabb-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
