/*********************
BREAKPOINTS

www.Breakpoint-sass.com

??baby-bear??   ???mama-bear??? ??papa-bear????????????
???baby-bear-and-up????????????????????????????????????
?brother-bear????                      ??papa-bear-wide
                ???mama-bear-and-up????????????????????
                
*********************/
$baby-bear: max-width 480px;
$baby-bear-and-up: 320px;
$brother-bear: max-width 800px;
$mama-bear: 801px 1023px;
$mama-bear-and-up: 801px;
$papa-bear: 1024px;
$papa-bear-wide: 1500px;