/*
* CSS for wp-admin backend only
* This CSS will not load on frontend / fl builder editor screen.
*/

.uabb-reloading-iconfonts {
	-webkit-animation: cssAnimation .72s ease infinite;
	-moz-animation: cssAnimation .72s ease infinite;
	-o-animation: cssAnimation .72s ease infinite;
}
@-webkit-keyframes cssAnimation {
	from { -webkit-transform: rotate(0); }
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes cssAnimation {
	from { -moz-transform: rotate(0); }
	to { -moz-transform: rotate(360deg); }
}
@-o-keyframes cssAnimation {
	from { -o-transform: rotate(0); }
	to { -o-transform: rotate(360deg); }
}
