/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
	-webkit-justify-content: flex-end;
			justify-content: flex-end;
		  -webkit-box-align: end;
		   -webkit-box-pack: end;
			  -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.fl-module-content h1,
.fl-module-content h2,
.fl-module-content h3,
.fl-module-content h4,
.fl-module-content h5,
.fl-module-content h6 {
    margin: 0;
    clear: both;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1
}

.uabb-top-row-separator {
    top: 0px;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0px
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    width: 100%;
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
}

/**  
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator 
 *  Svg Half Circle Separator
 *  Curve Center Separator 
 *  Waves Separator
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

/**  
 *
 *  Big Triangle Right Separator 
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

/**  
 *
 *  Curve Left Separator 
 *  Curve Right Separator 
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
     -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}


/**  
 *
 *  Tilt Left Separator 
 *  Tilt Right Separator 
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

/**  
 *
 *  Clouds Separator 
 *  Multi Triangle
 *
 ***************************************/

.uabb-row-separator.uabb-cloud-separator svg {
    left: -1px;
    width: 101%;
}

.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-row-separator.uabb-round-split {
    z-index: 1;
    /*position: relative;*/
    
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    z-index: 10;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
	/*background: #fafafa;*/
	/*border: 1px solid #ccc;*/
	/* Need to delete later
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;*/
	/*color: #333;*/
	display: inline-block;
	font-size: 16px;
	/*font-weight: normal;*/
	line-height: 18px;
	/*padding: 12px 24px;*/
	text-decoration: none;
	text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
	/*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
	text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
	display: block;
	text-align: center;
}
.fl-builder-content .uabb-button-width-custom .uabb-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.fl-builder-content .uabb-button-left {
	text-align: left;
}
.fl-builder-content .uabb-button-center {
	text-align: center;
}
.fl-builder-content .uabb-button-right {
	text-align: right;
}

/*.fl-builder-content .uabb-button i {	
	vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
	font-size: 1em;
	height: 1em;
	line-height: 1em;
	width: 1em;
	/*margin-right:8px;*/
}

.fl-builder-content .uabb-button i.uabb-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.fl-builder-content .uabb-button i.uabb-button-icon-before {
	margin-left: 0;
	margin-right: 8px;
}
.fl-builder-content .uabb-button i.uabb-button-icon-no-text {
	margin: 0;
}
/*.fl-builder-content .uabb-button-has-icon .uabb-button-text {
	vertical-align: middle;
}*/

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
	display: inline-block;
}
/*.uabb-icon {
	display: table-cell;
	vertical-align: middle;
}*/
.uabb-icon a {
	text-decoration: none;
}
.uabb-icon i {
	/*float: left;*/
	display: block;
}
.uabb-icon i:before {
	border: none !important;
}
.uabb-icon-text {
	display: table-cell;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}
.uabb-icon-text *:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
.uabb-icon-text a {
	text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
	line-height: 0;
	position: relative;
}
.uabb-photo-align-left {
	text-align: left;
}
.uabb-photo-align-center {
	text-align: center;
}
.uabb-photo-align-right {
	text-align: right;
}
.uabb-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}
.uabb-photo-content img {
	display: inline;
	height: auto !important;
	max-width: 100%;
	width: auto !important;
}
.fl-builder-content .uabb-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.uabb-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.uabb-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.uabb-photo-caption-hover {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: 0;
	visibility: hidden;
	filter: alpha(opacity = 0);
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:visibility 0.3s ease-in;
	-moz-transition:visibility 0.3s ease-in;
	transition:visibility 0.3s ease-in;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
	opacity: 100;
	visibility: visible;
	/*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
	display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
	display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
	float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
	line-height: 0;
	position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
	text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
	text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
	text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
	display: inline;
	height: auto !important;
	max-width: 100%;
	width: auto;
	border-radius: 0;
	box-shadow: none;
	box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
	/*background: #fafafa;
	border: 1px solid #ccc;*/
	/*color: #333;*/
	display: inline-block;
	/*font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 12px 24px;*/
	text-decoration: none;
	text-shadow: none;
	box-shadow: none;
	position: relative;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;

}
.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

/*.uabb-creative-button-wrap a *,
.uabb-creative-button-wrap a:visited * {
	color: #333;
}*/

.uabb-creative-button-wrap a:hover {
	text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
	display: block;
	text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
	text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
	text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
	text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
	font-size: 1.3em;
	height: auto;
	margin-right:8px;
	vertical-align: middle;
	width: auto;
}
.uabb-creative-button-wrap .uabb-creative-button i.uabb-creative-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
	vertical-align: middle;
}






/*  Translate Button styles */
.uabb-creative-button.uabb-creative-transparent-btn:after {
	content: '';
    position: absolute;
    z-index: 1;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;	
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {	
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
	overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
	-webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
	-webkit-transform: translateX(-50%) translateY(-50%);
	   -moz-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	     -o-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
	height: 40%;
	left: 0;
	top: -40%;
	width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
	width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
	width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
    	    transform-origin: 100% 0%;

    
    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
	width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
    	    transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */ 
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn span,
.uabb-creative-flat-btn.uabb-animate_to_left-btn span,
.uabb-creative-flat-btn.uabb-animate_from_top-btn span,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover span {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover span {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(200%);
       -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
         -o-transform: translateY(200%);
            transform: translateY(200%);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-200%);
       -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
         -o-transform: translateY(-200%);
            transform: translateY(-200%);
}