/* BBQ Pro - Admin CSS */

.wp-admin .share-button { margin: 4px 0; }

.wp-admin h1.bbq-title { 
	margin: 0 0 8px 0; padding: 8px 0 8px 55px; text-shadow: 1px 1px 1px rgba(255,255,255,0.5); 
	background-image: url(../img/bbq-icon-88x88.png); background-repeat: no-repeat; background-position: left center; background-size: 44px 44px;
	}
.wp-admin h1.bbq-title span { color: #c7c7c7; }

.wp-admin .bbq-status { float: left; clear: both; padding: 10px 15px; color: #fff; }
.wp-admin .bbq-enabled { background-color: #66cc66; }
.wp-admin .bbq-disabled { background-color: #cc6666; }

.wp-admin .bbq-label { display: block; color: #555; font-style: italic; font-size: 14px; line-height: 1.5; }
.wp-admin .inline-block { display: inline-block; }
.wp-admin .padding-left { padding-left: 5px; }

.wp-admin .postbox { margin: 0 0 10px 0; }
.wp-admin .postbox h3 { cursor: pointer; }

.wp-admin .bbq-tools-section { margin: 20px 0 30px 0; }
.wp-admin .bbq-tools-section h3 { font-size: 14px; }
.wp-admin .bbq-intro-text { margin: 20px 0 10px 0; }
.wp-admin .bbq-toggle { padding: 8px 12px; }

.wp-admin .bbq-patterns td { padding: 2px; }
.wp-admin .bbq-patterns .bbq-header td { padding-bottom: 6px; cursor: pointer; font-size: 13px; line-height: 13px; }
.wp-admin .bbq-patterns-basic, .wp-admin .bbq-patterns-advanced { margin-bottom: 5px; }
.wp-admin .bbq-pattern-count { padding-left: 5px; color: #999; font-size: 12px; font-weight: lighter; }

.bbq-pro_page_bbq_patterns input[type="text"] { height: 24px; line-height: 24px; font-size: 14px; margin: 0; padding: 0 5px; border: 0; box-shadow: none; background-color: #fff; }

.wp-admin .wrap .bbq-pattern { width: 200px; font-family: monospace; color: #555; background-color: #f1f1f1; border: 1px solid #ddd; text-shadow: 1px 1px 1px rgba(255,255,255,0.5); }
.wp-admin .wrap .bbq-count   { width: 300px; padding: 0; text-indent: 5px; color: #fff; background: transparent url(../img/bbq-pattern-count.gif) no-repeat 0 0; }
.wp-admin .wrap .bbq-count:active,
.wp-admin .wrap .bbq-count:focus { width: 150px; background-position: 0 0; }

	.wp-admin .wrap .bbq-count-00  { background-position: -300px 0; }
	
	.wp-admin .wrap .bbq-count-05  { background-position: -285px 0; }
	.wp-admin .wrap .bbq-count-10  { background-position: -270px 0; }
	.wp-admin .wrap .bbq-count-15  { background-position: -255px 0; }
	.wp-admin .wrap .bbq-count-20  { background-position: -240px 0; }
	.wp-admin .wrap .bbq-count-25  { background-position: -225px 0; }
	.wp-admin .wrap .bbq-count-30  { background-position: -210px 0; }
	.wp-admin .wrap .bbq-count-35  { background-position: -195px 0; }
	.wp-admin .wrap .bbq-count-40  { background-position: -180px 0; }
	.wp-admin .wrap .bbq-count-45  { background-position: -165px 0; }
	
	.wp-admin .wrap .bbq-count-50  { background-position: -150px 0; }
	
	.wp-admin .wrap .bbq-count-55  { background-position: -135px 0; }
	.wp-admin .wrap .bbq-count-60  { background-position: -120px 0; }
	.wp-admin .wrap .bbq-count-65  { background-position: -105px 0; }
	.wp-admin .wrap .bbq-count-70  { background-position: -90px 0; }
	.wp-admin .wrap .bbq-count-75  { background-position: -75px 0; }
	.wp-admin .wrap .bbq-count-80  { background-position: -60px 0; }
	.wp-admin .wrap .bbq-count-85  { background-position: -45px 0; }
	.wp-admin .wrap .bbq-count-90  { background-position: -30px 0; }
	.wp-admin .wrap .bbq-count-95  { background-position: -15px 0; }
	
	.wp-admin .wrap .bbq-count-100 { background-position: 0 0; background-image: url(../img/bbq-pattern-count-max.gif); }

.wp-admin .wrap .bbq-test { display: inline-block; margin: 0; padding: 0 5px; height: 24px; line-height: 24px; font-size: 12px; color: #fff; background-color: #e4e4e4; text-decoration: none; }
.wp-admin .wrap .bbq-test:hover { background-color: #ff9900; }

.wp-admin .bbq-clone { display: none; }
.wp-admin .bbq-add-field { display: block; margin: 10px 0 5px 0; }
.wp-admin .bbq-submit-button { margin: 10px 0 0 0; }

.wp-admin abbr { cursor: help; border-bottom: 1px dotted #dfdfdf; }

.wp-admin .bbq-license-steps.bbq-toggle { padding: 0; }
.wp-admin .bbq-license-steps.bbq-toggle p { margin: 0; }
.wp-admin .bbq-activate-license { margin: 0; padding: 30px 0 0 0; }
.wp-admin .bbq-license-activated code { display: inline-block; margin: 0 0 3px 0; padding: 5px 10px; border-radius: 3px; text-shadow: 1px 1px 1px #fff; font-size: 16px; }
.wp-admin .bbq-license-activated small { color: green; }
.wp-admin .bbq-license-deactivated small { color: red; }
