/* Fix Edit issue */
.fl-builder-edit .uabb-flip-box-wrap {
    pointer-events: none;
}

.uabb-face {
    opacity: 0;
    /*visibility: hidden;*/
}
.uabb-flip-box-wrap {
    display: block;
    text-align: center;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px
}
.uabb-flip-box-wrap .uabb-flip-box {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: 750ms;
    -moz-transition: 750ms;
    -o-transition: 750ms;
    -ms-transition: 750ms;
    transition: 750ms;
    -ms-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.uabb-flip-box-wrap .uabb-flip-box {
    height: 100%;
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.uabb-flip-box-wrap .uabb-back,
.uabb-flip-box-wrap .uabb-front {
    padding: 0;
    height: 100%;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 750ms;
    -moz-transition: 750ms;
    -o-transition: 750ms;
    -ms-transition: 750ms;
    transition: 750ms, -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.uabb-flip-box-wrap .uabb-front {
    z-index: 9;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.uabb-flip-box-wrap .uabb-front * {
 -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -o-backface-visibility: hidden;
 -ms-backface-visibility: hidden;
 backface-visibility: hidden;
}

.uabb-flip-box-wrap .uabb-back {
    position: absolute;
    top: 0;
    z-index: -1
}
.uabb-flip-box-wrap:hover .uabb-back {
    z-index: 1
}
.uabb-flip-box-wrap .uabb-flip-box .uabb-face-text-title,
.uabb-flip-box-wrap .uabb-flip-box .uabb-back-text-title {
    /*margin: 15px 0 12px;
    line-height: 1.3em;
    font-size: 16px;*/
    display: block;
}

.uabb-flip-box-wrap .uabb-back .uabb-back-flip-box-section-content {
    overflow: hidden
}

.uabb-flip-box-wrap .uabb-flip-box-section-content * {
    margin: 0;
}
.uabb-flip-box-wrap .uabb-back .uabb-back-flip-box-section-content * {
    margin: 0;
}
.uabb-flip-box-wrap .flip_link {
    display: block;
    position: relative
}
.uabb-flip-box-wrap .flip_link a {
    /*color: #FFF;
    background-color: #636363;*/
    display: inline-block;
    margin: 10px auto 0;
    padding: .3em .6em;
    text-decoration: none;
    cursor: pointer;
    /*font-size: 13px*/
}
.uabb-flip-box-wrap .flip_link a:active,
.uabb-flip-box-wrap .flip_link a:hover,
.uabb-flip-box-wrap .flip_link a:visited {
    /*color: #FFF;*/
    text-decoration: none;
    /*background-color: #636363*/
}
.uabb-flip-box-wrap .ifb-auto-height .uabb-face {
    overflow: hidden
}
.uabb-flip-box-wrap .ifb-auto-height .uabb-face .ifb-desc-back,
.uabb-flip-box-wrap .uabb-custom-height .uabb-face .ifb-desc-back {
    max-height: 45%;
    max-height: -webkit-calc(100% - 55px);
    max-height: -moz-calc(100% - 55px);
    max-height: calc(100% - 55px);
    position: relative;
    overflow: hidden
}
.uabb-flip-box-wrap .uabb-jq-height .uabb-back p {
    max-height: 100%;
    overflow: visible;
    display: block
}
.uabb-flip-box-wrap .uabb-jq-height .uabb-back {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    bottom: 0
}
.uabb-flip-box-wrap .horizontal_flip_left .uabb-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.uabb-flip-box-wrap .horizontal_flip_left .uabb-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.uabb-flip-box-wrap .horizontal_flip_left .uabb-hover .uabb-back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.uabb-flip-box-wrap .horizontal_flip_left .uabb-hover .uabb-front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.uabb-flip-box-wrap .horizontal_flip_right .uabb-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.uabb-flip-box-wrap .horizontal_flip_right .uabb-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.uabb-flip-box-wrap .horizontal_flip_right .uabb-hover .uabb-back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.uabb-flip-box-wrap .horizontal_flip_right .uabb-hover .uabb-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.uabb-flip-box-wrap .vertical_flip_bottom .uabb-hover .uabb-back,
.uabb-flip-box-wrap .vertical_flip_top .uabb-hover .uabb-back {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg)
}
.uabb-flip-box-wrap .vertical_flip_top .uabb-back {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.uabb-flip-box-wrap .vertical_flip_top .uabb-front {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}
.uabb-flip-box-wrap .vertical_flip_bottom .uabb-back,
.uabb-flip-box-wrap .vertical_flip_top .uabb-hover .uabb-front {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
}
.uabb-flip-box-wrap .vertical_flip_bottom .uabb-front {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}
.uabb-flip-box-wrap .vertical_flip_bottom .uabb-hover .uabb-front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.uabb-flip-box-wrap .flip_bottom .uabb-back,
.uabb-flip-box-wrap .flip_bottom .uabb-front,
.uabb-flip-box-wrap .flip_left .uabb-back,
.uabb-flip-box-wrap .flip_left .uabb-front,
.uabb-flip-box-wrap .flip_right .uabb-back,
.uabb-flip-box-wrap .flip_right .uabb-front,
.uabb-flip-box-wrap .flip_top .uabb-back,
.uabb-flip-box-wrap .flip_top .uabb-front {
    -webkit-transition: 1000ms;
    -moz-transition: 1000ms;
    -o-transition: 1000ms;
    -ms-transition: 1000ms;
    transition: 1000ms
}
.uabb-flip-box-wrap .flip_bottom .uabb-front,
.uabb-flip-box-wrap .flip_left .uabb-front,
.uabb-flip-box-wrap .flip_right .uabb-front,
.uabb-flip-box-wrap .flip_top .uabb-front {
    z-index: 1
}
.uabb-flip-box-wrap .flip_bottom .uabb-back,
.uabb-flip-box-wrap .flip_left .uabb-back,
.uabb-flip-box-wrap .flip_right .uabb-back,
.uabb-flip-box-wrap .flip_top .uabb-back {
    opacity: .5;
    z-index: -9
}
.uabb-flip-box-wrap .flip_bottom .uabb-hover .uabb-front,
.uabb-flip-box-wrap .flip_left .uabb-hover .uabb-front,
.uabb-flip-box-wrap .flip_right .uabb-hover .uabb-front,
.uabb-flip-box-wrap .flip_top .uabb-hover .uabb-front {
    z-index: -9
}
.uabb-flip-box-wrap .flip_bottom .uabb-hover .uabb-back,
.uabb-flip-box-wrap .flip_left .uabb-hover .uabb-back,
.uabb-flip-box-wrap .flip_right .uabb-hover .uabb-back,
.uabb-flip-box-wrap .flip_top .uabb-hover .uabb-back {
    opacity: 1;
    z-index: 1
}
.flip_left .uabb-back {
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: rotatey(-270deg);
    -moz-transform: rotatey(-270deg);
    -ms-transform: rotatey(-270deg);
    -o-transform: rotatey(-270deg);
    transform: rotatey(-270deg);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}
.flip_left .uabb-hover .uabb-back {
    -webkit-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
    -ms-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    transform: rotatey(0deg)
}
.flip_right .uabb-back {
    -webkit-transform-origin: 100%;
    -moz-transform-origin: 100%;
    -ms-transform-origin: 100%;
    -o-transform-origin: 100%;
    transform-origin: 100%;
    -webkit-transform: rotatey(270deg);
    -moz-transform: rotatey(270deg);
    -ms-transform: rotatey(270deg);
    -o-transform: rotatey(270deg);
    transform: rotatey(270deg);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}
.flip_right .uabb-hover .uabb-back {
    -webkit-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
    -ms-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    transform: rotatey(0deg)
}
.flip_top .uabb-back {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotatex(270deg);
    -moz-transform: rotatex(270deg);
    -ms-transform: rotatex(270deg);
    -o-transform: rotatex(270deg);
    transform: rotatex(270deg);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}
.flip_top .uabb-hover .uabb-back {
    -moz-transform: rotatex(0deg);
    -ms-transform: rotatex(0deg);
    -o-transform: rotatex(0deg);
    -webkit-transform: rotatex(0deg);
    transform: rotatex(0deg)
}
.flip_bottom .uabb-back {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotatex(-270deg);
    -moz-transform: rotatex(-270deg);
    -ms-transform: rotatex(-270deg);
    -o-transform: rotatex(-270deg);
    transform: rotatex(-270deg);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}
.flip_bottom .uabb-hover .uabb-back {
    -webkit-transform: rotatex(0deg);
    -moz-transform: rotatex(0deg);
    -ms-transform: rotatex(0deg);
    -o-transform: rotatex(0deg);
    transform: rotatex(0deg)
}
.horizontal_door_flip .h_door.ifb-multiple-front,
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back,
.reverse_vertical_door_flip .rv_door.ifb-multiple-back,
.vertical_door_flip .v_door.ifb-multiple-front {
    -webkit-transition: 1000ms;
    -moz-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms
}
.vertical_door_flip .v_door.ifb-multiple-front {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 1;
    z-index: 1
}
.uabb-flip-box-wrap .vertical_door_flip .uabb-back {
    z-index: -9
}
.vertical_door_flip .uabb-hover .v_door.ifb-multiple-front {
    opacity: .5;
    z-index: -9
}
.uabb-flip-box-wrap .vertical_door_flip .uabb-hover .uabb-back {
    z-index: 1
}
.vertical_door_flip .v_door.ifb-multiple-front .uabb-front {
    width: 200%;
    position: relative
}
.vertical_door_flip .v_door.ifb-multiple-front.uabb-front-2 .uabb-front {
    right: 100%
}
.vertical_door_flip .uabb-hover .v_door.uabb-front-1 {
    -webkit-transform: rotatey(-270deg);
    -moz-transform: rotatey(-270deg);
    -ms-transform: rotatey(-270deg);
    -o-transform: rotatey(-270deg);
    transform: rotatey(-270deg)
}
.vertical_door_flip .v_door.uabb-front-1 {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%
}
.vertical_door_flip .uabb-hover .v_door.uabb-front-2 {
    -webkit-transform: rotatey(270deg);
    -moz-transform: rotatey(270deg);
    -ms-transform: rotatey(270deg);
    -o-transform: rotatey(270deg);
    transform: rotatey(270deg)
}
.vertical_door_flip .v_door.ifb-multiple-front.uabb-front-2 {
    right: 0;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .vertical_door_flip .ifb-multiple-front.v_door {
        width: 50.2%
    }
}
.reverse_vertical_door_flip .rv_door.ifb-multiple-back {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;
    opacity: .5;
    z-index: -9
}
.uabb-flip-box-wrap .reverse_vertical_door_flip .uabb-front {
    z-index: 1
}
.reverse_vertical_door_flip .uabb-hover .rv_door.ifb-multiple-back {
    z-index: 1;
    opacity: 1
}
.uabb-flip-box-wrap .reverse_vertical_door_flip .uabb-hover .uabb-front {
    z-index: -9
}
.reverse_vertical_door_flip .rv_door.ifb-multiple-back .uabb-back {
    width: 200%
}
.reverse_vertical_door_flip .rv_door.ifb-multiple-back.uabb-back-2 .uabb-back {
    right: 0;
    left: -100%
}
.reverse_vertical_door_flip .rv_door.ifb-multiple-back.uabb-back-1 {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotatey(-270deg);
    -moz-transform: rotatey(-270deg);
    -ms-transform: rotatey(-270deg);
    -o-transform: rotatey(-270deg);
    transform: rotatey(-270deg)
}
.reverse_vertical_door_flip .rv_door.ifb-multiple-back.uabb-back-2 {
    right: 0;
    left: 50%;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotatey(270deg);
    -moz-transform: rotatey(270deg);
    -ms-transform: rotatey(270deg);
    -o-transform: rotatey(270deg);
    transform: rotatey(270deg)
}
.reverse_vertical_door_flip .uabb-hover .rv_door.ifb-multiple-back.uabb-back-1,
.reverse_vertical_door_flip .uabb-hover .rv_door.ifb-multiple-back.uabb-back-2 {
    -webkit-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
    -ms-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    transform: rotatey(0deg)
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .reverse_vertical_door_flip .uabb-hover .rv_door.ifb-multiple-back {
        visibility: visible
    }
    .reverse_vertical_door_flip .rv_door.ifb-multiple-back {
        visibility: hidden
    }
}
.horizontal_door_flip .h_door.ifb-multiple-front {
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    overflow: hidden
}
.uabb-flip-box-wrap .horizontal_door_flip .uabb-back {
    z-index: -9
}
.horizontal_door_flip .uabb-hover .h_door.ifb-multiple-front {
    z-index: -9;
    opacity: .5
}
.uabb-flip-box-wrap .horizontal_door_flip .uabb-hover .uabb-back {
    z-index: 1
}
.horizontal_door_flip .h_door.ifb-multiple-front .uabb-front {
    position: relative;
    height: 200%
}
.horizontal_door_flip .h_door.ifb-multiple-front.uabb-front-2 .uabb-front {
    bottom: 100%
}
.horizontal_door_flip .uabb-hover .h_door.uabb-front-1 {
    -webkit-transform: rotatex(270deg);
    -moz-transform: rotatex(270deg);
    -ms-transform: rotatex(270deg);
    -o-transform: rotatex(270deg);
    transform: rotatex(270deg)
}
.horizontal_door_flip .h_door.uabb-front-1 {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    top: 0
}
.horizontal_door_flip .uabb-hover .h_door.uabb-front-2 {
    -webkit-transform: rotatex(-270deg);
    -moz-transform: rotatex(-270deg);
    -ms-transform: rotatex(-270deg);
    -o-transform: rotatex(-270deg);
    transform: rotatex(-270deg)
}
.horizontal_door_flip .h_door.ifb-multiple-front.uabb-front-2 {
    bottom: 0;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    top: 50%
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back {
    position: absolute;
    height: 50%;
    width: 100%;
    overflow: hidden;
    z-index: -9;
    opacity: .5
}
.uabb-flip-box-wrap .reverse_horizontal_door_flip .uabb-front {
    z-index: 1
}
.reverse_horizontal_door_flip .uabb-hover .rh_door.ifb-multiple-back {
    z-index: 1;
    opacity: 1
}
.uabb-flip-box-wrap .reverse_horizontal_door_flip .uabb-hover .uabb-front {
    z-index: -9
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back .uabb-back {
    position: relative;
    height: 200%
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back.uabb-back-1 .uabb-back {
    border-bottom: none !important
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back.uabb-back-2 .uabb-back {
    top: -100%
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back.uabb-back-1 {
    top: 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotatex(270deg);
    -moz-transform: rotatex(270deg);
    -ms-transform: rotatex(270deg);
    -o-transform: rotatex(270deg);
    transform: rotatex(270deg)
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back.uabb-back-2 {
    top: 50%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotatex(-270deg);
    -moz-transform: rotatex(-270deg);
    -ms-transform: rotatex(-270deg);
    -o-transform: rotatex(-270deg);
    transform: rotatex(-270deg)
}
.reverse_horizontal_door_flip .uabb-hover .rh_door.ifb-multiple-back.uabb-back-1,
.reverse_horizontal_door_flip .uabb-hover .rh_door.ifb-multiple-back.uabb-back-2,
.reverse_horizontal_door_flip .uabb-hover .rh_door.ifb-multiple-back.uabb-back-2 .flip_link {
    -webkit-transform: rotatex(0deg);
    -moz-transform: rotatex(0deg);
    -ms-transform: rotatex(0deg);
    -o-transform: rotatex(0deg);
    transform: rotatex(0deg)
}
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back.uabb-back-2 .flip_link {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotatex(270deg);
    -moz-transform: rotatex(270deg);
    -ms-transform: rotatex(270deg);
    -o-transform: rotatex(270deg);
    transform: rotatex(270deg)
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .reverse_horizontal_door_flip .uabb-hover .rh_door.ifb-multiple-back {
        visibility: visible
    }
    .reverse_horizontal_door_flip .rh_door.ifb-multiple-back {
        visibility: hidden
    }
}
.style_9 .new_style_9 {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    -ms-transition: 800ms;
    transition: 800ms
}
.style_9 .new_style_9.ifb-multiple-back .uabb-back,
.style_9 .new_style_9.ifb-multiple-front .uabb-front {
    width: 200%;
    position: relative
}
.style_9 .new_style_9.ifb-multiple-back,
.style_9 .new_style_9.ifb-multiple-front {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}
.style_9 .ifb-door-right-open .new_style_9.ifb-multiple-back,
.style_9 .new_style_9.ifb-multiple-front {
    z-index: 20
}
.style_9 .ifb-door-right-open .new_style_9.ifb-multiple-front,
.style_9 .new_style_9.ifb-multiple-back {
    z-index: 10
}
.style_9 .new_style_9.ifb-multiple-front.uabb-front-2 {
    right: 0;
    -webkit-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
    -ms-transform: rotatey(0deg);
    transform: rotatey(0deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%
}
.style_9 .new_style_9.ifb-multiple-front.uabb-front-2 .uabb-front {
    right: 100%
}
.style_9 .new_style_9.ifb-multiple-back.uabb-back-1 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}
.style_9 .new_style_9.ifb-multiple-back.uabb-back-2 {
    right: 0
}
.style_9 .new_style_9.ifb-multiple-back.uabb-back-2 .uabb-back {
    right: 100%
}
.style_9 .ifb-door-hover .new_style_9.ifb-multiple-front.uabb-front-2 {
    -webkit-transform: rotateY(-40deg);
    -moz-transform: rotateY(-40deg);
    -o-transform: rotateY(-40deg);
    -ms-transform: rotateY(-40deg);
    transform: rotateY(-40deg)
}
.style_9 .ifb-door-hover .new_style_9.ifb-multiple-back.uabb-back-1 {
    -webkit-transform: rotateY(140deg);
    -moz-transform: rotateY(140deg);
    -o-transform: rotateY(140deg);
    -ms-transform: rotateY(140deg);
    transform: rotateY(140deg)
}
.style_9 .ifb-door-right-open .new_style_9.ifb-multiple-front.uabb-front-2 {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.style_9 .ifb-door-right-open.ifb-door-hover .new_style_9.ifb-multiple-front.uabb-front-2 {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    -o-transform: rotateY(-140deg);
    -ms-transform: rotateY(-140deg);
    transform: rotateY(-140deg)
}
.style_9 .ifb-door-right-open .new_style_9.ifb-multiple-back.uabb-back-1 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.style_9 .ifb-door-right-open.ifb-door-hover .new_style_9.ifb-multiple-back.uabb-back-1 {
    -webkit-transform: rotateY(40deg);
    -moz-transform: rotateY(40deg);
    -o-transform: rotateY(40deg);
    -ms-transform: rotateY(40deg);
    transform: rotateY(40deg)
}
.uabb-flip-box-wrap .uabb-back,
.uabb-flip-box-wrap .uabb-front {
    display: block;
    width: 100%
}
.uabb-flip-box-section {
    display: block;
    position: relative;
    padding: 15px;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none
}
.flip-ifb-auto-height .uabb-flip-box-section,
.uabb-flip-custom-height .uabb-flip-box-section {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none
}
.uabb-flip-box-section.uabb-flip-box-section-vertical-middle {
    vertical-align: middle !important;
    top: 50%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}
.flip-ifb-auto-height .uabb-front .uabb-flip-box-section.uabb-flip-box-section-vertical-middle {
    top: 0 !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important
}
.uabb-flip-box-section.ifb_disable_middle {
    top: 0 !important;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none
}
.uabb-flip-box-wrap .flip_bottom .uabb-back,
.uabb-flip-box-wrap .flip_left .uabb-back,
.uabb-flip-box-wrap .flip_right .uabb-back,
.uabb-flip-box-wrap .flip_top .uabb-back,
.reverse_horizontal_door_flip .rh_door.ifb-multiple-back {
    z-index: -4
}
.flip-ifb-auto-height .uabb-flip-box .h_door .uabb-front,
.flip-ifb-auto-height .uabb-flip-box .v_door .uabb-front,
.flip-ifb-auto-height .uabb-flip-box .new_style_9.uabb-front-1,
.flip-ifb-auto-height .uabb-flip-box .new_style_9.uabb-front-2 {
    height: auto
}
