// Setup Breakpoints
$baby-bear: max-width 480px;
$baby-bear-and-up: 320px;
$brother-bear: max-width 767px;
$brother-bear-and-up: max-width 481px;
$mama-bear: max-width 1023px;
$mama-bear-and-up: 768px;
$aunty-bear: max-width 1200px;
$papa-bear: 1201px;
$papa-bear-wide: 1500px;
