// Setup Grid for SUSY
$susy: (
  // the basics
  columns: 12,
  gutters: 1.618em / 4.854em,
  column-width: 4.854em,
);

// Setup Container for SUSY
.site-inner .wrap {
	@include container;
	padding: 0 !important;
}

/*
 * Modular Scale Settings
 *
 * http://www.modularscale.com by Tim Brown
 * https://github.com/Team-Sass/modular-scale
 * version 2 syntax
 */
$ms-ratio: $golden;						// Ratio for Modular Scale
$base-font-size: 1rem;
$importantNum: 1.309rem;
$ms-base: $base-font-size $importantNum;

// Torlesse Default Scale Values: 16, 18, 26, 30, 42, 48, 68, 78, 110, 126;

	/*
	 * Sizing
	 */
	$xsmall: ms(-2);
	$small: ms(-1);
	$norm: ms(0);									// $base-font-size (16px == default)
	$med: ms(1);
	$large: ms(2);
	$larger: ms(3);
	$xlarge: ms(4);
	$xxlarge: ms(5);
	$xxxlarge: ms(6);
	$reallybig: ms(8);
	$tremendous: ms(9);
	$absurd: ms(10);

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.309;

$type-scale: (
  -1: 0.75rem,  // small text
  0: 1rem,      // body text
  1: 1.333rem,  // large text
  2: 1.777rem   // main heading
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

@function line-height($level) {
  @return map-get($line-height, $level);
}
