/*
 * Social Network Colours
 *
 * http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
 */
$twitter:    #00aced;
$facebook:   #3b5998;
$linkedin:   #007bb6;
$google:     #dd4b39;
$youtube:    #bb0000;
$pinterest:  #cb2027;
$tumblr:     #32506d;
$flickr:     #ff0084;
$instagram:  #517fa4;
$vimeo:      #aad450;
$foursquare: #0072b1;

/*
 * Brand Colours
 */
$light-grey:  #F9F9F9;
$medium-grey: darken($light-grey, 20%);
$dark-grey:   #333333;
$white:       #fff;
$light-red:   #E5554E;

// General colours
$header-bg:         $white; 
$body-bg:           $white;
$footer-widgets-bg: $medium-grey;
$footer-bg:         $dark-grey;
$link-colour:       $light-red;
$heading-colour: 		#333;

// Primary Nav
$primary-nav-bg: 			$dark-grey;
$primary-nav-text: 			$white;
$primary-nav-text-hover: 	$light-grey;

// Text colours
$footer-text: #fff;
$footer-link: $light-red;

/*
* Backgrounds
*/
.bg-light {
	background: $light-grey;
}

.bg-medium {
	background: $medium-grey;
}

.bg-dark {
	background: $dark-grey;
}

/*
 * Buttons
 */
.button {
	&.primary {
		background: $dark-grey;
		color: #fff;
	}

	&.secondary {
	 	background: $light-grey;
	 	color: $dark-grey;
	}

	&.outline {
		border: 1px solid $dark-grey;
		color: $dark-grey;
	}
}
