
.footer-widgets,
.site-inner {
	.wrap {
		padding-left: $entry-side-margin;
		padding-right: $entry-side-margin;
	}
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: $footer-widgets-bg;
	clear: both;
	padding-top: 40px;
	color: $footer-text;

	a {
		color: $footer-link;
	}

	a.button {
		color: $footer-text;
	}

	input {
		border: 1px solid $dark-grey;
	}

	li {
		//border-bottom: 1px dotted lighten($dark-grey, 20%);
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
}

.footer-widgets {
	.widget {
		margin-bottom: 40px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

@include breakpoint($mama-bear-and-up) {
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		@include span(4 of 12);
	}

	.footer-widgets-3 {
		@include last;
	}
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $footer-bg;
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
	color: $footer-text;

	p {
		margin-bottom: 0;
	}
}
