/*
 * Page Builder
 * (Beaver builder) - default styling
 */

// page builder defaults
.fl-builder {

  // Margins on page builder pages
  .entry {
    padding: 0;

   	.entry-header,
   	.entry-footer {
   		padding: $entry-topbottom-margin $entry-side-margin 0;
   	}
  }

	.site-inner {

		@include breakpoint($mama-bear) {
			padding: 0;
		}

		@include breakpoint($brother-bear) {
			padding: 0;
		}
	}
}

.fl-row-content {
	padding: $row-margin;
}

.fl-col-content {
	margin: 0 $column-margin;
  padding-top: $column-margin;
  padding-bottom: $column-margin;
}

.fl-col-group {
  margin-left: -$column-margin;
  margin-right: -$column-margin;

  @include breakpoint($brother-bear) {
    margin-left: 0;
    margin-right: 0;
  }
}

.fl-col-small {
  @include breakpoint($brother-bear) {
    max-width: 100% !important;
  }
}

.fl-module-heading {
  h1, h2, h3, h4, h5, h6 {
    &.fl-heading {
      @extend .heading-style;
    }
  }
}

.content-sidebar,
.sidebar-content,
.content-sidebar-sidebar,
.sidebar-content-sidebar,
.sidebar-sidebar-content {

  .fl-row-content,
  .fl-col-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .fl-row.padding {
    .fl-row-content {
      padding: $row-margin;
    }
  }
}

.fl-col.padding {
  .fl-col-content {
    padding: $column-margin;
  }
}

.edge-to-edge {
	.fl-row-content,
	.fl-col-content {
		padding: 0;
	}
}

// Full Width Page template
.page-template-page_builder,
.page-template-page_landing {
  .site-inner {
    max-width: 100%;
    padding-top: 0;

    .wrap {
      width: 100%;
      max-width: 100%;
  	}

    .entry {
      margin-bottom: 0;
    }
  }
}
