/* Responsive Menu
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: -1px;
	text-align: center;
}

.responsive-menu-icon::before {
	content: "\f333";
	display: inline-block;
	font: normal 20px/1 'dashicons';
	margin: 0 auto;
	/*padding: 10px;*/
	padding: 10px 5px 10px 10px;
}
.nav-primary .responsive-menu-icon::before {
	color: #fff;
}

.menu-text {
	color: #fff;
	line-height: 1;
	vertical-align: top;
	margin-top: 11px;
	display: inline-block;
}
