/* ## Typographical Elements
--------------------------------------------- */

body {
	background-color: $body-bg;
	color: #333;
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;

	@include breakpoint($brother-bear) {
		font-size: $norm*0.95;
	}
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: $link-colour;
	text-decoration: none;
}

a:hover {
	color: #333;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

.heading-style {
	color: $heading-colour;
	font-family: Lato, sans-serif;
	font-weight: 400;
	line-height: 1.4;
  margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend .heading-style;
}

h1 {
	font-size: $xlarge;
}

h2 {
	font-size: $larger;
}

h3 {
	font-size: $large;
}

h4 {
	font-size: $med;
}

h5 {
	font-size: $norm;
}

h6 {
	font-size: $norm;
}

@include breakpoint($brother-bear) {
	h1 {
		font-size: $larger;
	}

	h2 {
		font-size: $large;
	}

	h3 {
		font-size: $med;
	}

	h4 {
		font-size: $norm;
	}

	h5 {
		font-size: $norm*0.95;
	}

	h6 {
		font-size: $norm*0.95;
	}
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}
