/*
	Theme Name: Torlesse
	Theme URI: http://www.avocadesign.co.nz
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: Avoca Design
	Author URI: http://www.avocadesign.co.nz

	Version: 1.13

	Tags: black, white, one-column, two-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 1.0

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/
.testing {
	color: #fff;
	background: none;
	border: none;
}
//Import Bower Components
@import "susy/sass/susy";
@import "compass-breakpoint/stylesheets/breakpoint";
@import "modular-scale/stylesheets/modular-scale";

// Settings
@import "settings/load";
@import "utilities/load";

// Style and Structure
@import "colours";
@import "typography";
@import "responsive-menu";
@import "layout";
@import "content-lib/load";

// Theme Sections
@import "widgets";
@import "plugins/load";
@import "header";
@import "navigation";
@import "footer";
@import "content";
@import "sidebars";
@import "page-builder";
@import "icon-fonts";

/*
 * Any general site Custom SASS starts here...
 * Try and keep SASS organised in partials and imported above for clarity
 */
