/*****************************/
/* Default Tab Style */
/*****************************/

.uabb-tabs *,
.uabb-tabs *:after,
.uabb-tabs *:before { 
    -webkit-box-sizing: border-box; box-sizing: border-box;
}

.uabb-tabs .clearfix:before,
.uabb-tabs .clearfix:after {
    content: ''; display: table;
}

.uabb-tabs .clearfix:after {
    clear: both;
}

.uabb-tabs ul li a {
    text-decoration: none;
    outline: none;
    box-shadow:none;
}

.uabb-tabs nav ul li a:before {
    line-height: normal;
}

.uabb-tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

/*****************************/
/* Nav */
/*****************************/

div.uabb-tabs nav {
    text-align: center;
    overflow: visible;
}

.uabb-tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.fl-module-content .uabb-tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
}

.uabb-tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uabb-tabs nav a span {
    vertical-align: middle;
    color: inherit;
    display: inline-block;
}

.uabb-tabs nav a:focus {
    outline: none;
}

/*****************************/
/* Icons */
/*****************************/

.uabb-tabs-icon {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.uabb-tabs-icon .dashicons::before {
    vertical-align: initial;
}

/*****************************/
/* Content */
/*****************************/

.uabb-content-wrap {
    position: relative;
}

.uabb-content-wrap section {
    display: none;
}

.uabb-content-wrap section.uabb-content-current {
    display: block;
}

.uabb-content-wrap section p {
    margin: 0;
    padding: 0;
}

/* Individual tab styles */

/*****************************/
/* Bar */
/*****************************/

.uabb-tabs-style-bar nav ul li a {
    transition: background-color 0.2s, color 0.2s;
}

.uabb-tabs-style-bar nav ul li a span {
    text-transform: uppercase;
}



/*****************************/
/* Underline */
/*****************************/

.uabb-tabs-style-underline nav a {
    padding: 0.25em 0 0.5em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.uabb-tabs-style-underline nav li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0,150%,0);
    transform: translate3d(0,150%,0);
}

.uabb-tabs-style-underline nav li.uabb-tab-current a::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.uabb-tabs-style-underline nav a span {
    font-weight: 700;
}


/*****************************/
/* Top Line */
/*****************************/

.uabb-tabs-style-topline {
    max-width: 1200px;
}

.uabb-tabs-style-topline nav li:not(:last-child) {
    border-right: none;
}

.uabb-tabs-style-topline nav li.uabb-tab-current {
    border-bottom: none;
}

.uabb-tabs-style-topline nav a,
.uabb-tabs-style-topline nav a * {
    -webkit-transition: color 0.2s;
        transition: color 0.2s;
}

.uabb-tabs-style-topline nav a {
    padding: 0.65em 0 0.5em;
    line-height: 1;
}

.uabb-tabs-style-topline nav li.uabb-tab-current a {
    background: none;
}

.uabb-tabs-style-topline .uabb-tabs-icon {
    display: block;
    margin: 0;
}


/*****************************/
/* Falling Icon
/*****************************/

.uabb-tabs-style-iconfall {
    overflow: visible;
}

.uabb-tabs-style-iconfall nav a {
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    line-height: 1;
    -webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
    transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.uabb-tabs-style-iconfall nav a span {
    font-weight: 700;
}

.uabb-tabs-style-iconfall nav li::before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
}

.uabb-tabs-style-iconfall nav li.uabb-tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.uabb-tabs-style-iconfall .uabb-tabs-icon {
    display: block;
    margin: 0 0 0.35em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
    pointer-events: none;
}

.uabb-tabs-style-iconfall nav li.uabb-tab-current .uabb-tabs-icon {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*****************************/
/* Line Box */
/*****************************/

.uabb-tabs-style-linebox nav ul li {
    margin: 0 0.5em;
    -webkit-flex: none;
    flex: none;
}

.uabb-tabs-style-linebox nav a {
    padding: 0 1.5em;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.uabb-tabs-style-linebox nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
    -webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
    transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.uabb-tabs-style-linebox nav li.uabb-tab-current a::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}