.uabb-info-list .uabb-info-list-wrapper {
    margin: 0;
    padding: 0;
}
.uabb-info-list-content-wrapper .uabb-info-list-content h2,
.uabb-info-list-content-wrapper .uabb-info-list-content h3,
.uabb-info-list-content-wrapper .uabb-info-list-content h4,
.uabb-info-list-content-wrapper .uabb-info-list-content h5,
.uabb-info-list-content-wrapper .uabb-info-list-content h6 {
	margin: 0;
	padding: 0;
}
.uabb-info-list .uabb-info-list-wrapper li {
	list-style: none;
	margin: 0;
	padding: 0;
    position: relative;
}
.uabb-info-list-content-wrapper {
	position: relative;
	z-index: 5;
    padding-bottom: 20px;
}
.uabb-info-list-icon {
	position: relative;
	z-index: 5;	
}

.uabb-info-list-description,
.uabb-info-list-description * {
    margin: 0;
}

/* Connector Classes */
.uabb-info-list-connector {
    height: 100%;
    position: absolute;
    z-index: 1;
    border-width: 0 0 0 1px;
}

.uabb-info-list-wrapper li:last-child .uabb-info-list-connector {
    display: none;
}


.uabb-info-list-content-wrapper.left .uabb-info-list-icon,
.uabb-info-list-content-wrapper.right .uabb-info-list-icon {
	display: inline-block;
    vertical-align: top;
}
.uabb-info-list-content-wrapper.left .uabb-info-list-content,
.uabb-info-list-content-wrapper.right .uabb-info-list-content {
	display: inline-block;
}   


/* Classe For Top Styles */
.uabb-info-list-content-wrapper.top .uabb-info-list-icon,
.uabb-info-list-content-wrapper.top .uabb-info-list-content {
	display: block;
}


/* Alignment Left */
.uabb-info-list-content-wrapper.left .uabb-info-list-icon {
	margin-right: 20px;
}
    

/* Alignment Right */
.uabb-info-list-content-wrapper.right{
	text-align: right;
	direction: rtl;
}
.uabb-info-list-content-wrapper.right .uabb-info-list-icon {
	margin-left: 20px;
}

/* Alignment Top */
/* Icon Position to Top*/
.uabb-info-list-wrapper.top {
    display: block;
}

.uabb-info-list-wrapper.top li {
    display: inline-block;
}

.uabb-info-list-wrapper.top li .uabb-info-list-icon {
    float: none;
    margin: 0 auto;
}

.uabb-info-list-wrapper.top li .uabb-info-list-content {
    margin: 15px;
    padding-bottom: 0;
    text-align: center;
}

.uabb-info-list-wrapper.top li .uabb-info-list-connector {
    height: 0;
    left: 50%;
    margin-left: 0;
    position: absolute;
    width: 100%;
}
.uabb-info-list-content.top {
    margin-right: 1em;
    padding: 0px;
}

.uabb-info-list-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}


/* Animation css Left Right */
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}


/* Animation css Top */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
}


.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.uabb-info-list-icon .icon{
    display: inline-block;
}

.uabb-info-list-item .uabb-info-list-icon a {
    box-shadow: none;
}

.uabb-info-list-wrapper.top .uabb-info-list-item {
    width: 100%;
    vertical-align: top;
}

@media only screen and (max-width:767px) {
    .uabb-info-list-wrapper.top .uabb-info-list-item .uabb-info-list-connector {
        display:none;
    }
}