/* Blog Posts */

.uabb-blog-posts-col-8 { width: 12.5%; }
.uabb-blog-posts-col-7 { width: 14.28%; }
.uabb-blog-posts-col-6 { width: 16.66%; }
.uabb-blog-posts-col-5 { width: 20%; }
.uabb-blog-posts-col-4 { width: 25%; }
.uabb-blog-posts-col-3 { width: 33.33%; }
.uabb-blog-posts-col-2 { width: 50%; }
.uabb-blog-posts-col-1 { width: 100%; }

.uabb-read-more-text {
    /*text-transform: uppercase;*/
    text-decoration: none;
}

.uabb-next-right-arrow {
    font-size: 1.5em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: middle;
}

.uabb-posted-on {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    padding: 4px;
}

.uabb-posted-on span {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.4em;
}

.uabb-posted-on .uabb-date-day {
    font-weight: bold;
    font-size: 50px;
    line-height: 1em;
}

.uabb-blog-posts .uabb-post-wrapper {
    display: inline-block;
    vertical-align: top;
    float: left;
    outline: none;
    margin-bottom: 30px;
}

.uabb-post-wrapper {
    border-top: 0px solid #e5e5e5;
    border-radius: 0px;
    position: relative;
    z-index: 1;
}

.uabb-post-wrapper .uabb-post-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-align: center;
}

.uabb-post-wrapper .uabb-content {
    opacity: 1;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.uabb-post-wrapper .uabb-vertical-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.uabb-post-wrapper .uabb-vertical {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

.uabb-post-wrapper .uabb-icon-anchor {
    display: inline-block;
    margin: .75em;
    vertical-align: middle;
    outline: none;
    text-decoration: none;
}

.uabb-post-wrapper .uabb-text-overflow {
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.uabb-post-wrapper .uabb-post-heading {
    margin: 0;
    padding: 0;
}

.uabb-post-wrapper .uabb-post-heading a {
    font: inherit;
    color: inherit;
}

.uabb-blog-posts-description {
    padding-top: 10px;
    padding-bottom: 15px;
    word-wrap: break-word;
}

.uabb-read-more {
    
    border-radius: 0px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.uabb-post-meta {
    text-transform: none;
}

.uabb-post-date {
    font: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}

.uabb-blog-posts .uabb-post-thumbnail img {
    display: block;
    border-radius: 0;
}

/* BLog Posts End */

/* Grid Column */
.uabb-post-grid-2 img,
.uabb-post-grid-3 img,
.uabb-post-grid-4 img {
    width: 100%;
}

.uabb-post-grid-2 .uabb-content,
.uabb-post-grid-3 .uabb-content,
.uabb-post-grid-4 .uabb-content {
    width: 100%;
}

/*@media ( min-width: 768px ) and ( max-width: 992px ) {
    .uabb-post-wrapper:nth-child(2n+1){
        clear: left;
        padding-left: 0;
    }
    .uabb-post-wrapper:nth-child(2n+0) {
        clear: right;
        padding-right: 0;
    }
    .uabb-post-wrapper:nth-child(2n+1) .uabb-posted-on {
        left: 0;
    }
}*/

@media (max-width: 420px) {
    .uabb-blog-posts .uabb-posted-on {
        width: 55px;
        height: 55px;
    }
    .uabb-blog-posts .uabb-posted-on .uabb-date-month,
    .uabb-blog-posts .uabb-posted-on .uabb-date-year {
        font-size: 11px;
        line-height: 1.4em;
        text-transform: uppercase;
    }
    .uabb-blog-posts .uabb-posted-on .uabb-date-day {
        font-size: 16px;
        line-height: 1em;
    }
}

/* Common Grid */
/* Style for Blog-Grid-1 */
/* Style for Blog-Grid-2 */
 
@media (max-width: 768px) {
    .uabb-post-grid-2 .uabb-blog-posts-col-2 { 
        width: 100%;
    }
}


@media (max-width: 992px) {
    .uabb-post-grid-2 .uabb-posted-on {
        width: 80px;
        height: 80px;
    }
    .uabb-post-grid-2 .uabb-posted-on .uabb-date-month,
    .uabb-post-grid-2 .uabb-posted-on .uabb-date-year {
        font-size: 12px;
        line-height: 1.4em;
        text-transform: uppercase;
    }
    .uabb-post-grid-2 .uabb-posted-on .uabb-date-day {
        font-size: 28px;
        line-height: 1.4em;
    }
}

/*@media (max-width: 420px) {
    .uabb-post-grid-2 .uabb-posted-on {
        width: 55px;
        height: 55px;
    }
    .uabb-post-grid-2 .uabb-posted-on .uabb-date-month,
    .uabb-post-grid-2 .uabb-posted-on .uabb-date-year {
        font-size: 11px;
        line-height: 1.4em;
        text-transform: uppercase;
    }
    .uabb-post-grid-2 .uabb-posted-on .uabb-date-day {
        font-size: 16px;
        line-height: 1em;
    }
}*/
/* Style for Blog-Grid-3 */

@media (max-width: 768px) {
    .uabb-post-grid-3 .uabb-blog-posts-col-3 { 
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .uabb-post-grid-3 .uabb-blog-posts-col-3 { 
        width: 50%;
    }
    .uabb-post-grid-3 .uabb-posted-on {
        width: 55px;
        height: 55px;
    }
    .uabb-post-grid-3 .uabb-posted-on .uabb-date-month,
    .uabb-post-grid-3 .uabb-posted-on .uabb-date-year {
        font-size: 11px;
        line-height: 1.4em;
        text-transform: uppercase;
    }
    .uabb-post-grid-3 .uabb-posted-on .uabb-date-day {
        font-size: 16px;
    }
}

/* Styles for Blog-Grid-4 */
@media (max-width: 992px) {
    .uabb-post-grid-4 .uabb-blog-posts-col-4 { 
        width: 50%;
    }
}
@media (max-width: 768px) {
    .uabb-post-grid-4 .uabb-blog-posts-col-4 { 
        width: 100%;
    }
}


@media (min-width: 769px) {

    .uabb-post-grid-4 .uabb-posted-on {
        width: 80px;
        height: 80px;
    }

    .uabb-post-grid-4 .uabb-posted-on .uabb-date-month,
    .uabb-post-grid-4 .uabb-posted-on .uabb-date-year {
        font-size: 12px;
        line-height: 1.4em;
        text-transform: uppercase;
    }

    .uabb-post-grid-4 .uabb-posted-on .uabb-date-day {
        font-size: 28px;
        line-height: 1.4em;
    }
}

/*@media (max-width: 992px) {
    .uabb-post-grid-4 .uabb-posted-on {
        width: 52px;
        height: 52px;
    }
    .uabb-post-grid-4 .uabb-posted-on .uabb-date-month,
    .uabb-post-grid-4 .uabb-posted-on .uabb-date-year {
        font-size: 11px;
        line-height: 1.4em;
        text-transform: uppercase;
    }
    .uabb-post-grid-4 .uabb-posted-on .uabb-date-day {
        font-size: 14px;
    }
}*/

/* Grid Column End */


/* Slider */

.uabb-blog-posts .slick-prev i,
.uabb-blog-posts .slick-next i,
.uabb-blog-posts .slick-prev i:hover,
.uabb-blog-posts .slick-next i:hover,
.uabb-blog-posts .slick-prev i:focus,
.uabb-blog-posts .slick-next i:focus {
    /*padding: 8px 15px;*/
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /*border-radius: 3px;
    border: 1px solid;*/
}

.uabb-blog-posts .slick-prev,
.uabb-blog-posts .slick-next,
.uabb-blog-posts .slick-prev:hover,
.uabb-blog-posts .slick-prev:focus,
.uabb-blog-posts .slick-next:hover,
.uabb-blog-posts .slick-next:focus {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 35px;
    height: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
/*.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}*/
.uabb-blog-posts .slick-prev:hover:before,
.uabb-blog-posts .slick-prev:focus:before,
.uabb-blog-posts .slick-next:hover:before,
.uabb-blog-posts .slick-next:focus:before
{
    opacity: 1;
}
.uabb-blog-posts .slick-prev.slick-disabled:before,
.uabb-blog-posts .slick-next.slick-disabled:before
{
    opacity: .25;
}

.uabb-blog-posts .slick-prev:before,
.uabb-blog-posts .slick-next:before{
    content: '';
    font-size: 0;
}
.uabb-blog-posts .slick-prev:before,
.uabb-blog-posts .slick-next:before
{

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uabb-blog-posts .slick-prev
{
    left: -45px;
}
[dir='rtl'] .uabb-blog-posts .slick-prev
{
    right: -45px;
    left: auto;
}

.uabb-blog-posts .slick-next
{
    right: -45px;
}
[dir='rtl'] .uabb-blog-posts .slick-next
{
    right: auto;
    left: -45px;
}


/* Dots */
/*.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
}
*/

.fl-node-content .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.fl-node-content .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.fl-node-content .slick-list:focus
{
    outline: none;
}
.fl-node-content .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.fl-node-content .slick-slider .slick-track,
.fl-node-content .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.fl-node-content .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.fl-node-content .slick-track:before,
.fl-node-content .slick-track:after
{
    display: table;

    content: '';
}
.fl-node-content .slick-track:after
{
    clear: both;
}
.fl-node-content .slick-loading .slick-track
{
    visibility: hidden;
}

.fl-node-content .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .fl-node-content .slick-slide
{
    float: right;
}
.fl-node-content .slick-slide img
{
    display: block;
}
.fl-node-content .slick-slide.slick-loading img
{
    display: none;
}
.fl-node-content .slick-slide.dragging img
{
    pointer-events: none;
}
.fl-node-content .slick-initialized .slick-slide
{
    display: block;
}
.fl-node-content .slick-loading .slick-slide
{
    visibility: hidden;
}
.fl-node-content .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.fl-node-content .slick-arrow.slick-hidden {
    display: none;
}

.fl-node-content .slick-arrow,
.fl-node-content .slick-arrow:active,
.fl-node-content .slick-arrow:hover,
.fl-node-content .slick-arrow:focus {
    box-shadow: none;
}